body {
  margin: 0px auto;
  padding: 0px auto;
  height: 100%;
  background-color: #0e0d0d;
  overflow-y: scroll;
}

.content {
  padding-right: 15px; /* Ancho de la barra de desplazamiento */
}


.tituloHeader {
  color: rgb(218, 215, 215);
  text-align: center;
  font-size: 38px;
  margin-top: 50px;
  font-family: "Rubik Glitch", system-ui;
  letter-spacing: 9px;
  font-weight: 300;
}
.flicker {
  animation-name: flicker;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes flicker {
  0% {opacity: 1;}
  25% {opacity: 0.5;}
  50% {opacity: 1;}
  75% {opacity: 0.5;}
  100% {opacity: 1;}
}

.buttonsNav {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 50px;
}

.buttonNav {
  color: rgb(218, 215, 215);
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  letter-spacing: 4px;
  font-family: "Bree Serif", sans-serif;
}

.buttonNav:hover {
  color: #2e2d2d;
  /* Color de texto cuando haces hover */
}

.aheader{
  text-decoration: none;
}

.areaCopyB {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.subAreaCopy {
  display: flex;
}

.enlaceButton{
  display: flex;
  justify-content: center;
  padding-right: 73px;
  text-decoration: none;
  margin:20px
}

.copybutton {
  margin: 12px;
  height: 50px;
  width: 500px;
  border-radius: 1px;
  background: #1b1b1b;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-size: 14px;
  color: rgb(206, 206, 206);
  transition: 300ms;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.copybutton:hover {
  box-shadow: 2px 2px 2px #222222, 2px 2px 10px #222, inset 2px 2px 2px #222,
    inset 2px 2px 2px #222222;
  color: #dad4d4;
  font-size: 16px;
  transition: 200ms;
}



.buttonVista {
  margin: 12px;
  height: 50px;
  min-width: 50px;
  border-radius: 50px;
  background: #1b1b1b;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-size: 15px;
  color: rgb(206, 206, 206);
  transition: 300ms;
}

.buttonVista:hover {
  box-shadow: -5px -5px 15px #222222, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #222222;
  color: #dad4d4;
  font-size: 18px;
  transition: 500ms;
}


.modalVistaPrevia {
  background-color: white;
  min-height: 200px;
  min-width: 200px;
}

.modalGral {
  display: flex;
  justify-content: center;
}

.divModal {
  margin-top: 10px;
  color: rgb(206, 206, 206);
  min-height: 50px;
  min-width: 50px;
  max-width: 600px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.textModal {
  text-align: left;
  margin-bottom: 30px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

.buttonCloseVP {
  margin: 12px;
  height: 30px;
  min-width: 80px;
  border-radius: 1px;
  background: #8a1d1d;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-size: 13px;
  color: rgb(206, 206, 206);
  transition: 300ms;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.buttonCloseVP:hover {
  box-shadow: 2px 2px 2px #222222, 2px 2px 10px #222, inset 2px 2px 2px #222,
    inset 2px 2px 2px #222222;
  color: #dad4d4;
  font-size: 14px;
  transition: 200ms;
}

.fotomessi{
  display: flex;
  justify-content: center;
}